<%- include("./includes/head", {pageTitle: "Error Page"}) %>
</head>
<body>
    <%- include("./includes/header") %>
    <main>
        <h1>Could not find resource</h1>
        <p>Unfortunately, we couldn't find requested resource.</p>
        
        <a href="/" class="btn">Back To Safety</a>
    </main>
<%- include("./includes/footer") %>

