<%- include("../../shared/includes/head", {pageTitle: "All Orders"}) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/orderManagement.js" defer></script>
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <%- include("../../shared/includes/orderList") %>
    </main>
<%- include("../../shared/includes/footer") %>

